# Ignore all __pycache__ folders anywhere
__pycache__/

# Ignore all virtual environments
.venv/
venv/

# Optional: ignore Python compiled files
*.pyc

# Your custom folder
Project/Files

Project/Data/Logs